
    body {
        background-image: url("https://files.slack.com/files-pri/TQ2R0N5C4-FSSMYGF5Z/blue-snow.png") !important;

        font-family: "times new roman";

        color: black;
        }
        
        .jumbotron {
            background: transparent url("css/images/books-bookstore-book-reading.jpeg");
            font-weight: bold;
            color: #ffffff;
        }
            


