#external-events .fc-event {
    margin: 1em 0;
    cursor: move;
  }

  .jumbotron{
    background:  transparent url(../../assets/images/books-bookstore-book-reading.jpeg);
    font-weight: bold;
    color:#ffffff;
  }

  .fc-event-container {
    position: relative;
}

  .closon {
    position: absolute;
    top: -2px;
    right: 0;
    font-weight: bold;
    cursor: pointer;
    background-color: #FFF;
}
.fc-content:hover{
    background-color:#00CCFF;
}
.fc-unthemed td.fc-today{
  background:#b1d6fa;
  color:#fff;
}
.fc-event{
  background: #4aaaa5;
}

#calendar{
  background-color:#EAECEE

}
.search{
  background-color: #e7e7e7;
}
.scroll-y{
  max-height:400px;
  overflow-y:auto;
}







